body {
  margin: 0;
  margin-top: -60px;
  padding: 0;
  max-width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  background-color: #3b413c;
  width: 100%;
  float: right;
  padding: 0px;
  height: 45px;
  display: flex;
}

.nav-menu {
  display: inline-table;
  text-align: right;
  width: 70%;
  height: inherit;
  margin-right: 0;
  margin-left: auto;
}

.menu-btn {
  background: transparent;
  display: inline-block;
  border: 0;
  align-items: center;
  margin-right: 20px;
  line-height: 100%;
  width: 100px;
  height: 100%;
  vertical-align: middle;
}

.menu-btn:hover {
  background: #daf0ee;
}

.menu-btn > a {
  color: #ffffff;
  font-family: "Segoe UI";
  font-weight: bolder;
  font-size: 15px;
  text-decoration: none;
}
.social-btn>a{
  margin-left: 70px;
  color: #7f5539;
  font-family: "Segoe UI";
  font-weight: bolder;
  font-size: 15px;
  border: 0px solid black;
  text-decoration: none;
  }

.menu-btn:hover > a {
  color: #123f39;
}

.SkillsAndHobbies {
  
 
  font-family: cursive;
  background-color: #94D1BE;
  padding: 10px;
  margin-left: 0px;
  border: 0px;
}
.aboutYou {
  display: flex;
  margin-top: 100px;
  padding: 5% 10% 5% 10%;
  width: inherit;
  background-color: #daf0ee;
}

.aboutYou,
.aboutYou > h1,
.aboutYou > p,
.aboutYou > img {
  width: inherit;
}

.aboutPara {
  width: 50%;
  text-align: right;
  align-self: center;
}

.aboutPara > h1 {
  font-size: 100px;
  line-height: 10px;
}

.aboutPara > p {
  font-size: 30px;
}

.aboutImg {
  width: 50%;
  text-align: center;
}

.aboutImg > img {
  border-radius: 50%;
  width: 80%;
  box-shadow: 0px 0px 20px 1px black;
}

th,
td {
  box-shadow: 0px 0px 20px 1px black;
  font-size: 20px;
 width: auto;
  background-color: #B5F8FE;
  border: 3px dotted #10FFCB;
}
.footer1{
  margin-top: -20px;
  background-color: #FCE4D8;
  
}

.social-btn:hover{
  
  padding-left: 30px;
  background-color:#003049;
}
